 /* .banerImg {
     position: absolute;
     background-image: url(4.png);
     left: 100px;
     top: 150px;
 } */


 /* .banerImg {
    background-color: #111827;
    background-image: url(./);
    background-repeat: no-repeat;
    background-size: cover;
} */

 .banerImgTitle {
     font-family: 'Oleo Script', cursive;
 }


 .banerImgTitle {
     font-size: 62px;
     color: rgb(255, 51, 0);



 }