/* #banerImg {
    position: absolute;
    left: 100px;
    top: 150px;
} */


.bg-color {
    background-color: #111827;
    background-image: url(https://cdn.quotesgram.com/img/98/61/2073830966-football-119047.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* body {
    margin: 0px;
} */