/* #banerImg {
    position: absolute;
    left: 100px;
    top: 150px;
} */


/* .banerImg {
    background-color: #111827;
    background-image: url(./);
    background-repeat: no-repeat;
    background-size: cover;
} */

/* body {
    margin: 0px;
} */